.container-report {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(205, 169, 50);
  text-align: center;
  margin-left: 13%;
  width: 80%;
}

.container-report th {
  border: 2px solid black;
  padding: 9px;
  padding-left: 10px;
}
.head-report {
  width: 50%;
}
